@import "tailwindcss";

/* custom theme via CSS */
@theme {
  --color-primary: #141414;
  --color-background-light: #f7f7f7;
  --color-background-dark: #191919;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
  --theme-text-color: #99a1af;
  --theme-bg-gradient: color-mix(in oklab, var(--color-indigo-500) 20%, transparent);
  --link-color: #258cf4;
}

body {
  font-family: var(--font-display);
}


button:not(:disabled) {
  cursor: pointer;
}