@import "tailwindcss";

/* custom theme via CSS */
@theme {
  --color-primary: #141414;
  --color-background-light: #f7f7f7;
  --color-background-dark: #191919;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
  --theme-text-color: #99a1af;
}

body {
  font-family: var(--font-display);
}
